/* =================================
    Font Stack Reminder
    font-family: 'Merriweather', serif;
================================= */

/* =================================
    Element Styles
================================= */
/* ==== Base Selectors ==== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: #333;
}

h2 {
    font-size: 1.2em;
    font-weight: 700;
}

main {
    margin: 0 15px;
}

fieldset {
    border: none;
}

legend {
    margin: 20px 0;
    font-size: 1.2rem;
    font-weight: 700;
}

label {
    font-size: .9rem;
    text-transform: capitalize;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: 100%;
    padding: 20px 15px;
    margin: 10px auto 15px;
    font-size: .9rem;
    font-family: 'Merriweather', serif;
    border: none;
    border-radius: 5px;
    background: #e8e8e8;
    color: #333;
}

input[class="zip"] {
    width: 50%;
    margin-bottom: 30px;
}

input[placeholder="Required"]::placeholder {
    font-size: .75rem;
    font-style: italic;
    text-align: right;
    color: #bbb;
}

/* ==== Class Selectors ==== */

.main-header {
    margin: 0;
    text-align: center;
}

.main-header h1 {
    padding: 25px;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #fff;
    background: #333;
}

.signup-intro {
    padding: 25px 0 30px;
    margin: 0 15px 5px;
    border-bottom: solid 4px #333;
}

.signup-intro p {
    margin-top: 10px;
    font-size: .85rem;
    color: #bbb;
}

.content-border {
    margin-bottom: 20px;
    border-top: solid 2px #333;
}

/* ==== ID Selectors ==== */



/* =================================
    Layout Styles
================================= */



/* =================================
    Media Queries
================================= */



