/* =================================
    Font Stack Reminder
    font-family: 'Merriweather', serif;
================================= */

/* =================================
    Element Styles
================================= */
/* ==== Base Selectors ==== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

body {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: #333;
}

h2,
legend {
    font-size: 1.2rem;
    font-weight: 700;
}

legend {
    margin-bottom: 25px;
}

main {
    margin: 0 15px;
}

fieldset {
    border: none;
}

label {
    font-size: .9rem;
}

input::placeholder {
    text-align: right;
    font-size: .75rem;
    font-style: italic;
}

input:focus,
textarea:focus,
button:focus {
    outline-color: #00446e;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea[id="other-topics"],
button[type="submit"] {
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea[id="other-topics"] {
    padding: 20px;
    margin: 15px auto 20px;
    font-size: .9rem;
    border: none;
    border-radius: 5px;
    outline-color: #00446e;
    background: #e6e6e6;
    color: #333;
}

input[class="zip"] {
    width: 150px;
}

input[type="checkbox"],
input[type="radio"] {
    margin: 20px 10px 0 0;
}

textarea[id="other-topics"] {
    height: 100px;
}

button[type="submit"] {
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background: #00bec4;
    color: #fff;
}

/* ==== Class Selectors ==== */
.main-header {
    margin: 0;
    text-align: center;
}

.main-header h1 {
    padding: 25px;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #fff;
    background: #333;
}

.signup-intro {
    padding: 25px 0 30px;
    margin: 0 15px 5px;
    border-bottom: solid 4px #333;
}

.signup-intro p {
    margin-top: 10px;
    font-size: .85rem;
    color: #aaa;
}

.content-border {
    margin-bottom: 20px;
    border-top: solid 2px #333;
}

.content-border:nth-of-type(2) {
    margin-top: 10px;
}

.bottom {
    margin-bottom: 30px;
}

.main-footer {
    margin: 25px auto;
    font-size: .85rem;
    font-style: italic;
    text-align: center;
    color: #aaa;
}

/* ==== Pseudo Selectors ==== */

input:focus,
select:focus,
textarea:focus {
    outline-color: #00bec4;
    background: #333;
    color: #fff;
}

button:focus {
    outline-color: #00bec4;
    background: #00446e;
}

/* =================================
    Media Queries
================================= */

@media screen and (min-width: 768px) {
    body,
    .contact-container,
    .zip-container {
        display: flex;
    }

    body {
        margin: 0 auto;
        flex-direction: column;
    }

    h2 {
        font-size: 1.5rem;
    }

    main,
    .signup-intro,
    .main-footer {
        width: 100%;
        max-width: calc(768px - 30px);
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    .signup-intro {
        padding: 65px 0 50px;
    }

    .contact-container {
        justify-content: space-between;
    }

    .contact-container label {
        align-self: center;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select,
    .zip-container {
        width: 75%;
        margin-right: 0;
        margin-left: 0;
    }

    input[class="zip"] {
        width: 200px;
        justify-self: flex-start;
    }

    .content-border {
        margin-bottom: 50px;
    }

    .content-border:nth-of-type(2) {
        margin-top: 30px;
    }
}
